01_CrossSectionAnalysis/src/__pycache__/
00_final_submission/src/__pycache__/
02_linear_FEM/__pycache__/
03_fiber_element_solver/__pycache__/
03_fiber_element_solver/src/__pycache__/
01_CrossSectionAnalysis/cross_sectional_stresses_strains/frames/
01_CrossSectionAnalysis/cross_sectional_stresses_strains/images/